<head>
  <meta charset="utf-8">
  <title><% if (page.title){ %><%= page.title %> — <% } %><%= config.title %></title>
  <meta name="description" content="<%= config.description %>">
  <meta name="author" content="<%= config.author %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <%- css('css/github.css') %>
  <%- css('css/site.css') %>
</head>
