<% if (page.total > 1){ %>
<nav class="pagination">
  <ul class="pagination-list">
    <li class="pagination-item">
      <% if (page.prev){ %>
      <a href="<%- config.root %><%- page.prev_link %>" class="pagination-link"><%= __('Previous') %></a>
      <% } %>
    </li>
    <li class="pagination-item">
      <a href="<%- config.root %><% if (page.prev) { %><%- page.prev_link %><% } else if (page.next) { %><%- page.next_link %><% } %>" class="pagination-link"><%= page.current %> <%= __('of') %> <%= page.total %></a>
    </li>
    <li class="pagination-item">
      <% if (page.next){ %>
      <a href="<%- config.root %><%- page.next_link %>" class="pagination-link"><%= __('Next') %></a>
      <% } %>
    </li>
  </ul>
</nav>
<% } %>
