<article data-post-id="<%= post._id %>">
  <header>
    <a href="<%- url_for(post.path) %>">
      <%- partial('post-date', {date_format: config.date_format}) %>
      <h1 class="post-title"><%= post.title %></h1>
    </a>
  </header>
  <section>
    <%- post.content %>
  </section>
</article>
